<section class="phx-hero">
  <h1>Websocket Todo Example</h1>
  <p>This is an example using vanilla js, the phoenix socket lib, and websocket connections.
  right click a todo to delete, left click a todo to edit.</p>
</section>

<h2>Todos</h2>
<div>
  <label>Add a todo</label>
  <input id="todo-creator">
</div>
<ul id="todo-list">
  <%= for %{id: id, value: todo} <- @todos do %>
    <li id=<%= id %> style="cursor: pointer">
      <%= todo %>
    </li>
  <% end %>
</ul>

<script src="/js/ws.js"></script>
